:root {
  --primary: #607d8b;
  --dark-primary: #34515e;
}

.App {
  text-align: center;
}

.bg-primary{
  background-color: var(--primary)
}

.bg-primary-dark{
  background-color: var(--dark-primary)
}

.resize-none{
  resize: none;
}

.no-outline{
  outline: none;
}

.overflow-auto {
  overflow: auto
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 50px
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}